Source: loongson-golang
Section: devel
Priority: optional
Maintainer: Deepin Packages Builder <packages@linuxdeepin.com>
Build-Depends: debhelper (>= 9), gccgo(>=4.9.1)
Standards-Version: 3.9.5
Homepage: http://github.com/embedded-software/loongson-golang/
#Vcs-Git: git://github.com/embedded-software/loongson-golang/oongson-golang.git

Package: loongson-golang
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gccgo(>=4.9.1)
Conflicts: golang-go, gccgo-go
Description: Go tool for loongson with gccgo
 The Go programming language is an open source project to make
 programmers more productive. Go is expressive, concise, clean, and
 efficient. Its concurrency mechanisms make it easy to write programs
 that get the most out of multicore and networked machines, while its
 novel type system enables flexible and modular program construction.
 Go compiles quickly to machine code yet has the convenience of
 garbage collection and the power of run-time reflection. It's a
 fast, statically typed, compiled language that feels like a
 dynamically typed, interpreted language.
 .
 This package provides the 'go' tool built using gccgo instead of
 golang gc, defaulting to using gccgo.
